.triangle{
  position: fixed;
  border-top-left-radius: 0.99em;
  border-top-right-radius: 0.99em;
  border-left: 12.1vw solid transparent;
  border-right: 13vw solid transparent;
  border-top: 135px solid rgba(14, 37, 48, 0.757);
  /* left: 37.5vw;
  top: 12.5vh; */

  filter: drop-shadow(0px 2px 0px rgba(14, 37, 48, 0.757));
}