

@media screen and (max-width: 1160px) {
  .companyName{
    width: 100%!important;
  }
  .address{
    width: 40%!important;
  }
  .district{
    width: 40%!important;
  }
  .number{
    width: 40%!important;
  }
  .city{
    width: 40%!important;
  }
  .cep{
    width: 40%!important;
  }
  .telephone{
    width: 40%!important;
  }
  .cpfCnpj{
    width: 40%!important;
    
  }
  .email{
    width: 40%!important;
  }
  .password{
    width: 40%!important;
  }
  .secret{
    width: 40%!important;
  }
  
}

