.generalContainer{
  width: 40%;
  height: 80%;
  background-color: rgba(255, 0, 0, 0);
  p{
    font-size: 25px;

  }
  p:hover{
    background-color: #00313d;
    color: #0093b3;
    cursor: pointer;
    transition: .5s;
  }
}